<!-- head.html 元数据 -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- title -->
    <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ site.Title }}</title>

    <!-- meta -->
    <meta name="theme-color" />

    <!-- author -->
    {{ $site_author := or site.Author.name site.Params.name site.Title }}
    <!---->
    {{ if eq .Kind "page" }}
    <meta name="description" content="{{ .Summary }}" />
    <meta name="author" content="{{ or .Params.author $site_author }}" />
    {{ else }}
    <!---->
    <meta
        name="description"
        content="{{ site.Params.description | default (print `A personal blog`) }}"
    />
    <meta name="author" content="{{ $site_author }}" />
    {{ end }}

    <!-- css & js -->
    <script src="{{ `js/code-copy.js` | relURL }}" defer></script>
    {{ $main := resources.Get "css/main.css" }} {{ $custom := resources.Get
    "css/custom.css" }} {{ $syntax := resources.Get "css/syntax.css" }} {{
    $code_copy := resources.Get "css/code-copy.css" }} {{ $prose :=
    resources.Get "css/prose.css" }}

    <!-- 安全合并版本 -->
    {{ $resources := slice }} {{ if $main }}{{ $resources = $resources | append
    $main }}{{ end }} {{ if $custom }}{{ $resources = $resources | append
    $custom }}{{ end }} {{ if $syntax }}{{ $resources = $resources | append
    $syntax }}{{ end }} {{ if $code_copy }}{{ $resources = $resources | append
    $code_copy }}{{ end }} {{ if $prose }}{{ $resources = $resources | append
    $prose }}{{ end }} {{ if gt (len $resources) 0 }} {{ $css := $resources |
    resources.Concat "bundle.css" | minify | fingerprint }}
    <link rel="preload stylesheet" as="style" href="{{ $css.RelPermalink }}" />
    {{ end }}
    <!-- dark icon -->
    {{ $dark_icon := "theme.png" }}
    <!---->
    {{ if site.Params.monoDarkIcon }}{{ $dark_icon = "theme.svg" }}{{ end }}
    <!---->
    <link rel="preload" as="image" href="{{ $dark_icon | relURL }}" />

    <!-- avatar -->
    {{ $avatar_url := $.Scratch.Get "avatar_url" }}
    <!---->
    {{ if $avatar_url }}
    <link rel="preload" as="image" href="{{ $avatar_url }}" />
    {{ end }}
    <!---->

    <!-- social list -->
    {{ range $.Scratch.Get "social_list" }}
    <link rel="preload" as="image" href="{{ printf `%s.svg` . | relURL }}" />
    {{ end }}
    <!---->

    <!-- highlight js -->
    {{ if and .IsPage (not site.Params.disableHLJS) }}
    <!-- 引入 highlight.js CSS -->
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/monokai.min.css"
    />

    <script
        defer
        src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <!-- 引入 highlight.js JS -->
    <script
        defer
        src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"
        onload="hljs.highlightAll();"
    ></script>

    <!-- 额外的语言支持 -->
    <script
        defer
        src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/lisp.min.js"
    ></script>
    <script
        defer
        src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/sql.min.js"
    ></script>
    {{ end }}

    <!-- math -->
    {{ if or .Params.math site.Params.math }}
    <!---->
    {{ partial "math.html" . }}
    <!---->
    {{ end }}
    <!---->

    <!-- favicon -->
    <link
        rel="icon"
        href="{{ site.Params.favicon | default `favicon.ico` | relURL }}"
    />
    <link
        rel="apple-touch-icon"
        href="{{ site.Params.appleTouchIcon | default `apple-touch-icon.png` | relURL }}"
    />

    <!-- generator -->
    {{ hugo.Generator }}

    <!-- production -->
    {{ if or hugo.IsProduction (eq site.Params.env "production") }}
    <!---->
    {{ template "_internal/google_analytics.html" . }}
    <!---->
    {{ template "_internal/schema.html" . }}
    <!---->
    {{ template "_internal/opengraph.html" . }}
    <!---->
    {{ template "_internal/twitter_cards.html" . }}
    <!-- RSS -->
    {{ range .AlternativeOutputFormats }}
    <link
        rel="{{ .Rel }}"
        type="{{ .MediaType.Type }}"
        href="{{ .Permalink }}"
        title="{{ site.Title }}"
    />
    {{ end }}

    <!-- canonical -->
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ end }}
    <!---->
</head>
